body {
    background-image: url(../images/qbkls.png);
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
 }
/* ----------Nav Bar------------
----------------------------- */
 .container1 {
    width: 80%;
    margin: 0 auto;
    top: 0;
}
header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    border-bottom: 1px solid #cccccc;
   
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    background-color: #4aaaa5;
    color: white;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 17px;
}

nav {
 float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 20px;
    position: relative;

}

nav a {
    color: #777777;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 12px;
}

nav a:hover {
    color: #000
}

nav a::before {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* --------Content below Navbar-------
----------------------------------- */

#about { 
    color: #4aaaa5;
    padding: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    text-align: left;
    margin-top: unset;
    border-bottom: 1px solid #cccccc;
}

.container {
    margin-right: 20%;
    margin-left: 20%;
    background-color: white;
    position: relative;
    padding: 20px;
    margin-top: 5%;
}

.contact input[type=text], .contact input[type=email], textarea {
    width: 100%;
    margin-bottom: 1px;
    padding: 5px;
    margin-left: -1.2%;
}
.contact a {
    text-decoration: none;
    background: #4aaaa5;
    color: #ffffff;
    display: block;
    text-align: left;
    padding: 5px;
    margin-left: -1%;
    width: 7.5%;
    font-size: small;
}

p {
    text-align: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 2px;
    font-size: small;
    margin-left: -1%;

}
/* ---------Footer----------
------------------------- */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    color: #ffffff;
    left: 0;
    font-size: small;
    border-top: 3px solid #4aaaa5;
    /* position: aboslute; */
}
/* .footer:after {
    content: '';
    display: table;
    clear: both;
} */
#footertext {
    position: relative;
    top: 40px;
    
}